.APP {
  width: 100%;
}
.otp-screen {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
  /* justify-content: center; */
  align-items: center;
}

.otp-container {
  display: flex;
}

.otp-input {
  height: 45px;
  width: 45px;
  margin: 5px;
}
